.home {
    color: white;
    background-color: black;
    text-align: center;
}

.feat-movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5em 2em;
    background-color: #000;
    height: 70vh;
}

.feat-poster {
    max-width: 100%;
    height: auto;
    border-radius: 1em;
    margin-bottom: 2em;
    height: 70vh;

}

.feat-title {
    font-size: 2rem;
    margin: 1em 0;
    color: #fff;
}

.feat-buttons {
    display: flex;
    gap: 1.5em;
    justify-content: center;
}

.feat-buttons button {
    background-color: #9c2af4;
    color: white;
    border: none;
    border-radius: .4em;
    padding: .8em 1.8em;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.feat-buttons button:hover {
    background-color: #7a1dc2;
}

.genres {
   padding: 1.8em;
}

.genre-section {
    margin-bottom: 3.5em;
}

.genre-section h2 {
    margin-bottom: .8em;
    font-size: 1.5em;
}

h2.genre {
    display: grid;
    justify-content: left;
    font-size: 2.7em;
    font-weight: 800;
}

.movie-row-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    padding: 0.5em;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.scroll-arrow.left {
    left: -2rem; 
}

.scroll-arrow.right {
    right: -2rem;
}

.scroll-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.movie-row {
    display: flex;
    overflow-x: auto;
    gap: 0.8em;
    scroll-behavior: smooth;
    padding: 0 4rem; 
    position: relative;
}

.movie-row::-webkit-scrollbar {
    display: none;
}
